# Postgres
POSTGRES_USER=aktiv
POSTGRES_PASSWORD=aktivpass
POSTGRES_DB=aktivhike
POSTGRES_HOST=db
POSTGRES_EXTERNAL_PORT=15432

# Telegram
CLIENT_BOT_TOKEN=99999999:AAAAAAAAAAAAAAAAAAAAAAA
ADMIN_BOT_TOKEN=99999999:AAAAAAAAAAAAAAAAAAAAAAA
ADMIN_CHAT_ID=9999999999

# Others
APP_ENV=prod
TZ="Asia/Tbilisi"
STORAGE_ROOT="/app/storage"